@model ProductViewModel
<!--  = Product =  -->
<!--  ==========  -->
<div class="col-lg-4 col-md-6">
    <div class="single-course">
        <a href="single-course.html" class="w-100">
            <div class="image-box m-auto">
                <img src="@Model.Picture" alt="@Model.Title">
            </div>
        </a>

        <div class="course-content">
            <span class="tag">@Model.CategoryTitle</span>

            <a href="single-course.html">
                <h3 class="text-title">@Model.Title</h3>
            </a>

            <ul class="rating">
                <li>
                    <i class="bx bxs-star"></i>
                </li>
                <li>
                    <i class="bx bxs-star"></i>
                </li>
                <li>
                    <i class="bx bxs-star"></i>
                </li>
                <li>
                    <i class="bx bxs-star"></i>
                </li>
                <li>
                    <i class="bx bxs-star"></i>
                </li>
                <li>
                    <span>0.5 </span>
                    <a href="#">(1 امتیاز)</a>
                </li>
            </ul>

            <p>
                @Model.Description
            </p>

            <ul class="lessons">
                <li>@Model.Price.strPrice</li>
                @if (Model.Price.HasDiscount)
                {
                    <li class="float">@Model.Price.strBasePrice</li>
                }
            </ul>
        </div>
    </div>
</div>
<!-- /product -->