@model List<ProductModelViewMode>

<table id="tblProductModels" class="table gy-5 datatable-custom">
    <thead>
        <tr>
            <th>رنگ</th>
            <th>قیمت </th>
            <th>موجودی </th>
            <th>عملیات </th>
        </tr>
    </thead>
    <tbody>
        @if (Model is not null && Model is not null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.ColorTitle</td>
                    <td>@item.strPrice</td>
                    <td>@item.Amount</td>
                    <td>
                        <i onclick="DeleteProductModel('@item.ProductModelId')" class="flaticon-delete mx-1 cursor-pointer" title="حذف"></i>
                        <i onclick="GetProductModel('@item.ProductModelId')" class="flaticon-edit mx-1 cursor-pointer" title="ویرایش"></i>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>