	@model ProductModel
<!--begin::Content-->
@section Styles {

}
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-2">
                <!--begin::Page Title-->
                <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">محصولات</h5>
                <!--end::Page Title-->
            </div>
            <!--end::Info-->
            <!--begin::Toolbar-->
            <div class="d-flex align-items-center">
                <!--begin::Actions-->
                <partial name="/views/shared/Partials/_btnAdd.cshtml" />
                <!--end::Actions-->

            </div>
            <!--end::Toolbar-->
        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <!--begin::Dashboard-->
            <!--begin::Row-->
            <div class="row">
                <div class="col-12 order-1 order-xxl-2">
                    <!--begin::List Widget 8-->
                    <div class="card card-custom card-stretch gutter-b">
                        <!--begin::Header-->
                        <div class="card-header border-0">
                            <h3 class="card-title font-weight-bolder text-dark">محسولات</h3>

                        </div>
                        <!--end::Header-->
                        <!--begin::Body-->
                        <div class="card-body pt-0">
                            <table id="tblProducts" class="table gy-5 datatable-custom">
                                <thead>
                                    <tr>
                                        <th>کد</th>
                                        <th>عنوان </th>
                                        <th> عدم نمایش</th>
                                        <th>عملیات</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model is not null && Model.ProductsList is not null)
                                    {
                                        foreach (var item in Model.ProductsList)
                                        {
                                            <tr>
                                                <td>@item.Code</td>
                                                <td>@item.Title</td>
                                                @if (item.IsHidden == true)
                                                {
                                                    <td>
                                                        <input type="checkbox" disabled checked />
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>
                                                        <input type="checkbox" disabled />
                                                    </td>
                                                }
                                                <td>
                                                    <i onclick="DeleteProduct('@item.ProductId')" class="flaticon-delete mx-1 cursor-pointer" title="حذف"></i>
                                                    <i onclick="GetProduct('@item.ProductId')" class="flaticon-edit mx-1 cursor-pointer" title="ویرایش"></i>
                                                    <i onclick="ShowProductModel('@item.ProductId')" class="flaticon-eye mx-1 cursor-pointer" title="مدل ها"></i>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end: Card-->
                    <!--end::List Widget 8-->
                </div>
            </div>
            <!--end::Row-->
            <!--end::Dashboard-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
    <!-- Modal-->
    <div class="modal fade" id="ProductModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ProductModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data" class="form" id="frmProduct">
                        <input type="hidden" asp-for="Product.ProductId" />
                        <input type="hidden" asp-for="Product.Picture" />
                        <div class="container">

                            <div class="row">
                                <div class="col-12">
                                    <div asp-validation-summary="All"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Product.CategoryId">گروه کالا</label>
                                        <div></div>
                                        <select asp-for="Product.CategoryId" class="custom-select form-control w-100">
                                            <option value="0" selected>--انتخاب کنید--</option>
                                            @if (Model.ProductCategoryList is not null)
                                            {
                                                foreach (var item in Model.ProductCategoryList)
                                                {
                                                    <option value="@item.ProductCategoryId">@item.Title</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label asp-for="Product.BrandId">برند کالا</label>
                                        <div></div>
                                        <select asp-for="Product.BrandId" class="custom-select form-control">
                                            <option value="0" selected>--انتخاب کنید--</option>
                                            @if (Model.BrandsList is not null)
                                            {
                                                foreach (var item in Model.BrandsList)
                                                {
                                                    <option value="@item.BrandId">@item.Title</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Product.Code">کد کالا</label>

                                        <input asp-for="Product.Code" type="text" readonly class="form-control" placeholder="کد کالا" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Product.Title">عنوان کالا</label>
                                        <input asp-for="Product.Title" type="text" class="form-control" placeholder="عنوان کالا" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkbox-list">
                                        <label asp-for="Product.IsHidden" class="checkbox">
                                            <input type="checkbox" asp-for="Product.IsHidden" />
                                            <span></span>
                                            عدم نمایش
                                        </label>
                                    </div>
                                    <div class="form-group mt-4">
                                        <label asp-for="Product.UploadedFile">تصویر اصلی</label>
                                        <input type="file" asp-for="Product.UploadedFile" onchange="loadFile(event,'ItemPicture')" />
                                        <br />
                                        <div class="fv-plugins-message-container text-center mt-3 w-150px m-auto" id="F-See">
                                            <img id="ItemPicture" class="img-fluid" />
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-1">
                                        <label asp-for="Product.Description">توضیحات</label>
                                        <textarea class="form-control" asp-for="Product.Description" rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <partial name="/views/shared/Partials/_btnCloseModal.cshtml" />
                    <partial name="/views/shared/Partials/_btnRegister.cshtml" model="@("btnRegister")" />
                </div>
            </div>
        </div>
    </div>

    <!-- Modal-->
    <div class="modal fade" id="ProductModelModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ProductModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="hometab" data-toggle="tab" href="#ProductModels" role="tab" aria-controls="ProductModels" aria-selected="true">مدل ها</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="NewProductModelsTab" data-toggle="tab" href="#NewProductModels" role="tab" aria-controls="NewProductModels" aria-selected="false">مدل جدید</a>
                        </li>
                    </ul>
                    <div class="tab-content mt-5" id="myTabContent">
                        <div class="tab-pane fade show active" id="ProductModels" role="tabpanel" aria-labelledby="hometab">
                        </div>
                        <div class="tab-pane fade" id="NewProductModels" role="tabpanel" aria-labelledby="NewProductModelsTab">
                            <form method="post" enctype="multipart/form-data" class="form" id="frmProductModel">
                                <input type="hidden" asp-for="ProductModels.ProductId" />
                                <input type="hidden" asp-for="ProductModels.ProductModelId" />
                                <div class="container">

                                    <div class="row">
                                        <div class="col-12">
                                            <div asp-validation-summary="All"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="Product.CategoryId">گروه کالا</label>
                                                <div></div>
                                                <select asp-for="ProductModels.ColorId" class="custom-select form-control w-100">
                                                    <option value="0" selected>--انتخاب کنید--</option>
                                                    @if (Model.ProductColors is not null)
                                                    {
                                                        foreach (var item in Model.ProductColors)
                                                        {
                                                            <option value="@item.ProductColorId">@item.Title</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="ProductModels.strPrice">قیمت</label>
                                                <input asp-for="ProductModels.strPrice" type="text" class="form-control ltr placeholder-text-right JustDigit Number" placeholder="قیمت" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="ProductModels.Amount">موجودی</label>
                                                <input asp-for="ProductModels.Amount" type="text" class="form-control ltr placeholder-text-right JustDigit" placeholder="موجودی" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <partial name="/views/shared/Partials/_btnCloseModal.cshtml" />
                    <partial name="/views/shared/Partials/_btnRegister.cshtml" model="@("btnRegisterModel")" />
                </div>
            </div>
        </div>
    </div>
</div>
<!--end::Content-->
@section Scripts {
    <script src="~/js/pages/crud/forms/widgets/select2.js"></script>
    <script>
        $(document).ready(function () {
            ToDataTable("#tblProducts");
            $("#btnAdd").click(function () {
                $("#ProductModalLabel").text("افزودن محصول جدید");
                $("#Product_UploadedFile").val(null);
                $("#Product_Code").val(null);
                $("#Product_Title").val(null);
                $("#Product_Description").val(null);
                SetCheckBoxChecked("#Product_IsHidden");
                $("#ItemPicture").attr("src", "");
                SetSelect2Val("#Product_BrandId", 0);
                SetSelect2Val("#Product_CategoryId", 0);
                GetCode();
                ShowModal("#ProductModal");
            });
            $("#btnRegister").click(function () {
                AddOrEditForm("/Product/AddOrEditProduct", "#frmProduct", function (res) {
                    if (!res.isSuccess) {
                        ToastMessageError(res.message);
                    } else {
                        
                        HideModal("#ProductModal");
                        loadPage();
                    }
                }, null, true)
            });
            $("#btnRegisterModel").click(function () {
                AddOrEditForm("/Product/AddOrEditProductModel", "#frmProductModel", function (res) {
                    if (!res.isSuccess) {
                        ToastMessageError(res.message);
                    } else {
                        ShowProductModel($("#ProductModels_ProductId").val())
                    }
                }, null, true)
            });
            ToSelect2('.custom-select');
        });

        function ShowProductModel(ID) {
            if (ID > 0) {
                GetFromServer("/Product/GetProductModel", { id: ID }, function (res) {
                    SetSelect2Val("#ProductModels_ColorId", 0);
                    $("#ProductModels_ProductId").val(ID);
                    $("#ProductModels_strPrice").val(null);
                    $("#ProductModels_Amount").val(null);
                    $("#ProductModels").html(res);
                    TriggerClick("#hometab");
                    ShowModal("#ProductModelModal");
                }, true)
            }
        }
        function DeleteProductModel(ID) {
            if (ID > 0) {
                Confirmed("پیفام", "آیا مایل به حذف این مورد هستید؟!", function () {
                    GetFromServer("/Product/DeleteProductModel", { id: ID }, function (res) {
                        if (!res.isSuccess) {
                            ToastMessageError(res.message);
                        } else {
                            ShowProductModel($("#ProductModels_ProductId").val())

                        }
                    }, true)
                })
            }
        }
        function GetProductModel(ID) {
            if (ID > 0) {
                GetFromServer("/Product/GetProductModelItem", { id: ID }, function (res) {
                    SetSelect2Val("#ProductModels_ColorId", res.colorId);
                    $("#ProductModels_strPrice").val(res.strPrice);
                    $("#ProductModels_ProductModelId").val(res.productModelId);
                    $("#ProductModels_ProductId").val(res.productId);
                    $("#ProductModels_Amount").val(null);
                    TriggerClick("#NewProductModelsTab");
                }, true)
            }
        }
        function GetProduct(ID) {
            if (ID > 0) {
                GetFromServer("/Product/GetItem", { id: ID }, function (res) {
                    $("#ProductModalLabel").text("ویرایش محصول " + res.title);
                    $("#Product_UploadedFile").val(null);
                    $("#Product_Code").val(res.code);
                    $("#Product_Title").val(res.title);
                    $("#Product_ProductId").val(res.productId);
                    $("#Product_Description").val(res.description);
                    SetCheckBoxChecked("#Product_IsHidden", res.isHidden);
                    $("#ItemPicture").attr("src", res.picture);
                    SetSelect2Val("#Product_BrandId", res.brandId);
                    SetSelect2Val("#Product_CategoryId", res.categoryId);
                    ShowModal("#ProductModal");
                }, true)
            }
        }
        function DeleteProduct(ID) {
            if (ID > 0) {
                Confirmed("پیفام", "آیا مایل به حذف این مورد هستید؟!", function () {
                    GetFromServer("/Product/Delete", { id: ID }, function (res) {
                        if (!res.isSuccess) {
                            ToastMessageError(res.message);
                        } else {
                            loadPage();
                        }
                    }, true)
                })

            }
        }
        function GetCode() {
            GetFromServer("/Product/GetCode", {}, function (res) {
                $("#Product_Code").val(res);
            }, true)
        }
    </script>
}